<ul class="nav flex-column">
  <li class="nav-item">
    <a routerLink="/films" routerLinkActive="active" class="nav-link">Films</a>
  </li>
  <li class="nav-item">
    <a routerLink="/series" routerLinkActive="active" class="nav-link">Series</a>
  </li>
</ul>
