<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of filmHeader">
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let film of films">
        <td>{{ film.title }}</td>
        <td>{{ film.popularity }}</td>
        <td>{{ film.vote_average }}</td>
        <td>
          <app-button btnTxt="Aller à l'affiche" (outBtn)="goToSynopsis(film.id)"></app-button>
        </td>
      </tr>
    </tbody>
</table>
