<!--<div class="search-bar">
    <input type="text" placeholder="Search film" [(ngModel)]="searchText">
  </div>

  <div class="film-list">
    <ul>
      <li *ngFor="let film of films | grdFilter: {name: searchText}; let i=index;">
        <span class="badge">{{film.id}}</span> {{fime.name}}
      </li>
    </ul>
  </div>
-->
