<header class="fixed-top">
  <app-header #head></app-header>
</header>

<main [ngClass]="{'close-aside': head.open}">
  <div class="shadow position-fixed" (click)="head.toggle()" ></div>
  <aside>
    <div class="scroller">
      <app-nav></app-nav>
    </div>
  </aside>

  <div class="page">
    <div class="contents">
      <router-outlet></router-outlet>
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>

  </div>
</main>
